@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    max-width: 1320px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: auto;
    margin-left: auto;

}

.accordion {
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    color: #808080;
}

.accordionbutton {
    color: #808080;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;

}

.accordion-card {
    max-width: 540px;
   
    padding: 24px 21px 24px 21px;
    border-radius: 20px;
    gap: 10px;
    box-shadow: 0px 11px 44px -10px #00000040;
    background: #ffffff;
}

.mt-10 {
    margin-top: 10px;
}

.min-100 {
    min-height: 100vh;
}

.d-flex {
    display: flex;
}

.justify-content {
    justify-content: center;
}

.align-items {
    align-items: center;
}

.flex-direction {
    flex-direction: column;
}

.pb-43 {
    padding-bottom: 43px;
}

.justify-content-space {
    justify-content: space-between;
}

.accordion-body {
    color: #808080;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    max-width: 468px;
    height: 0;
    overflow: hidden;
}

.accbox {
    display: flex;
    padding: 25px 11px 25px 19px;
    /* gap: 18px; */
    border-radius: 5px;
    border: 1px solid var(--border, rgba(0, 0, 0, 0.10));
    cursor: pointer;
}

.active .item-show {
    height: unset;

}

.accbox.active {
    border: 1px solid #128DFF;
    gap: 18px;
}

.accbox.active div .accordion-button {
    color: black;
}

.accbox.active div svg {
    transform: rotate(180deg);
}